body {
    font-family: Arial, sans-serif;
    width: 70%;
    margin: auto;
    transition: 0.3s;
}

.banner-image-container img {
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

.featured-container {
    margin-bottom: 48px;
}

/* Paragraph with "Belong" ----------------------  */
.featured-text-container p:nth-child(2) {
    display: flex;
    gap: 6px;
}

.featured-text-container p:nth-child(2) img {
    align-self: center;
    width: 120px;
}

/* Paragraph with Button ----------------------  */
.featured-text-container div:nth-child(3) {
    gap: 24px;
    display: flex;
}

.featured-text-container div:nth-child(3) a {
    background-color: #00A4A6;
    text-decoration: none;
    text-align: center;
    width: 240px;
    color: white;
    border-radius: 6px;
    border: 0;
    padding: 12px;
    font-weight: bold;
}

/* */
.snapshots-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.snapshots-title {
    background-color: #00A4A6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 6px;

    text-align: center;
    vertical-align: middle;
    line-height: 36px; /* same as div height*/
}

.snapshots-body {
    background-color: #f2f2f2;
    border-radius: 6px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.snapshot-searchbar-filter-container {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/* Search Bar */
.snapshot-searchbar-container {
    background-color: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    display: flex;
    flex: 1;
    align-items: center;
}

.snapshot-searchbar-container input {
    flex: 1;
    font-size: 16px;
    padding: 12px 12px;
    
    border: 0;
}

.snapshot-searchbar-container input:focus-visible{
    outline: none;
}

#magnify-icon {
    padding: 16px;
    background-color: #e1e1e1;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#close-icon {
    display: none;
    padding: 16px;
}

#close-icon:hover {
    background-color: #e1e1e1;
    border-radius: 30px;
    cursor: pointer;
}
/* Filter */
.snapshot-filter-container select {
    padding: 16px 16px;
    font-size: 16px;
    height: 60px;

    background-color: #ffffff;
    border: 0;
    border-radius: 6px;
}

.snapshot-filter-container select:focus {
    outline: solid 1px navy;
}

/* Snapshot Collection */
.snapshots-collection {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.snapshot-card-container {
    display: flex;
    align-items: center;
    gap: 16px;

    background-color: rgb(159, 202, 113);
    border-radius: 6px;
    padding: 16px;
}

.snapshot-card-container:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.snapshot-card-image {
    background-color: white;
    padding: 16px;
    border-radius: 67px;
}

.snapshot-card-image img {
    width: 84px;
}

.snapshot-card-text {
    flex: 10;
}

.snapshot-card-expand-icon {
    flex: 0.5;
}

.favorite-container {
    display: flex;
    gap: 12px;
    align-items: center;

    color: white;
    background-color: black;
    border-radius: 6px;
    padding: 12px 24px;
    max-width: fit-content;
    transition: 0.3s;
}

.favorite-container-clicked {
    display: flex;
    gap: 12px;
    align-items: center;

    color: black;
    font-weight: 500;
    background-color: #f2f2f2;
    border-radius: 6px;
    max-width: fit-content;
    padding: 12px 24px;

    transition: 0.3s;
}

.favorite-icon span {
    color: white;
    font-size: 21px;
}

.favorite-container:hover {
    background-color: #4a4a4a;
    cursor: pointer;
}

.favorite-container-clicked:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}

#snapshot-title {
    font-weight: bold;
}

#snapshot-description {
    margin: 12px 0px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

/* Snapshot Details */
.snapshot-card-details-container {
    display: none;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    background-color: white;
}

.snapshot-card-details-item {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: start;
    max-width: 100%;
}

.details-title {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
}

.details-title + div {
    flex: 1.5;
}

.details-subtitle {
    font-size: 14px;
    color: gray;
}

.snapshot-card-details-item-first {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.snapshot-card-details-item-first-text {
    flex: 2;
    -ms-flex-item-align: center;
    padding-left: 6%;

} 

.snapshot-card-details-item-first-img {
    flex: 1.5;
    padding-right: 16px;
}

.snapshot-card-details-item-first img {
    max-width: 100%;
    border-radius: 6px;
}

.snapshot-card-details-icon img {
    width: 120px;
}